# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / Build files
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/

# Sphinx build files
_build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

